<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue" />
  <targets>
    <target xsi:type="File" name="log" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/Logs/info.log" deleteOldFileOnStartup="true" layout="${date:format=HH\:mm\:ss} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="match" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/Logs/matching_result.log" deleteOldFileOnStartup="true" layout="${message}" />
    <target xsi:type="File" name="errors" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/Logs/errors.log" deleteOldFileOnStartup="true" layout="${message}" />
    <target xsi:type="Console" name="console" layout="${message}" />
  </targets>
  <rules>
    <logger name="file" minlevel="Debug" writeTo="log" />
    <logger name="console" minlevel="Debug" writeTo="console" />
    <logger name="match" minlevel="Info" writeTo="match" />
    <logger name="errors" level="Error" writeTo="errors" />
  </rules>
</nlog>