<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xs" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue" />
  <targets>
    <target xsi:type="File" name="log" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/info.log"
            deleteOldFileOnStartup="true"
            layout="${when:when=level==LogLevel.Info:inner=:else=${uppercase:${level}} }${message}" />
    <target xsi:type="File" name="match" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/matching_result.log"
            deleteOldFileOnStartup="true" layout="${message}" />
    <target xsi:type="File" name="errors" fileName="${specialfolder:folder=LocalApplicationData}/PT.PM/errors.log"
            deleteOldFileOnStartup="true" layout="${message}" />
    <target xsi:type="ColoredConsole" name="console" layout="${message}" >
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-word text="-- Match ----------------" foregroundColor="Green" compileRegex="true" />
      <highlight-word regex="^Progress: \d\d\d?.\d\d%" foregroundColor="Cyan" compileRegex="true" />
      <highlight-word regex="^(dot|7z)\: " foregroundColor="Yellow" compileRegex="true" />
    </target>
  </targets>
  <rules>
    <logger name="file" minlevel="Debug" writeTo="log" />
    <logger name="console" minlevel="Debug" writeTo="console" />
    <logger name="match" minlevel="Info" writeTo="match" />
    <logger name="errors" level="Error" writeTo="errors" />
  </rules>
</nlog>